// https://alsohelp.com/blog/rails-8-bootstrap-5
$primary: #409457;
$secondary: #6bc384;

:root {
  --primary-bg-color: #F7C85C; 
}

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";
@import "pdfjs-dist/web/pdf_viewer";

// Toast close button
.close {
  all: unset;
  cursor: pointer;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  background-color: inherit;
  box-shadow: none;
  margin-left: auto
}

.toast {
  z-index: 100;

  .toast-alert {
    color: var( --bs-danger);
    text-transform: capitalize;
  }
  
  .toast-notice {
    color: var( --bs-success);
    text-transform: capitalize;
  }
}

// Button mixin: https://getbootstrap.com/docs/5.0/components/buttons/#mixins
.btn-custom {
  @include button-variant(
    $primary, 
    $primary,
    white,
  );
}
  
.btn-custom-secondary {
  @include button-variant(
    $secondary, 
    $secondary,
    white,
    $hover-color: white,
    $active-color: white,
  );
}

.bg-orange {
  background-color: $orange;
}

.bg-purple {
  background-color: $purple;
}

.bg-teal {
  background-color: $teal;
}

.bg-pink {
  background-color: $pink;
}

.bg-transparent {
  background-color: transparent;
}

#main-container {
  height: calc(100vh - 4rem);
  touch-action: none;
  padding-left: 6px;
  padding-right: 6px;
}
#main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 12px;
}
html, body {
  height: calc(100vh - 1rem);
  background-color: white;
}

.button-basic {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: start;
}

.tabs-button {
  @extend .button-basic;
  flex-direction: column;
  width: 1.7rem;
  height: 1.7rem;
  align-content: start;
  justify-content: center;
}

.close-button {
  @extend .button-basic;
}
.move-button {
  @extend .button-basic;
}
.change-button {
  @extend .button-basic;
}
