// https://alsohelp.com/blog/rails-8-bootstrap-5
$primary: #409457;
$secondary: #6bc384;

:root {
  --primary-bg-color: #F7C85C; 
}

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

// Button mixin: https://getbootstrap.com/docs/5.0/components/buttons/#mixins
.btn-custom {
  @include button-variant(
    $primary, 
    $primary,
    white,
  );
}

#main-container {
  height: calc(100vh - 4rem);
  touch-action: none;
  padding-left: 6px;
  padding-right: 6px;
}
#main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 12px;
}
html, body {
  height: calc(100vh - 1rem);
  background-color: gainsboro;
}

.button-basic {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: start;
}

.tabs-button {
  @extend .button-basic;
  flex-direction: column;
  width: 1.7rem;
  height: 1.7rem;
  align-content: start;
  justify-content: center;
}

.close-button {
  @extend .button-basic;
}
.move-button {
  @extend .button-basic;
}
.change-button {
  @extend .button-basic;
}
