/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
#main-container {
  height: calc(100vh - 4rem);
}
#main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 12px;
}
html, body {
  height: calc(100vh - 1rem);
  background-color: #e1e1e1;
}
