.doc-viewer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  .doc-viewer-body {
    flex-grow: 1;
    overflow: auto;
    align-items: center;
    justify-items: center;
    z-index: 1;
    
    .pdf-viewer {
      position: relative;
      padding-bottom: 84px;
    }
  }

  .doc-viewer-tools {
    position: absolute;
    gap: 2px;
    width: 100%;
    z-index: 10;
    
    bottom: 48px;
    left: calc(50% - 136px);
  }

  .page-info {
    width: fit-content;
  }
}

.textLayer {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: auto;
}
