.drag-header {
  display: flex;
  gap: 2px;

  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 6px;
  padding-top: 6px;

  z-index: 10;
  background-color: var(--bs-primary);
  color: #fff;

  .drag-header-tools {
    display: flex;
    justify-content: center;
    gap: 4px;
  }
}
.drag-box {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  width: 0; /* IMPORTANT: Allow crushing of flex item */
  height: 100%;
  background-color: gainsboro;
  position: relative;
  overflow: hidden;

  border-style: solid;
  border-color: var(--bs-primary);
  border-width: 1px;
  border-radius: 6px;
}

.drag-area {
  width: 100%;
}
