.images-viewer {
  display: flex;
  flex-direction: column;
  height: 100%;

  .images-viewer-body {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: row;

    overflow: auto;
    margin-bottom: 3rem;
    
    justify-content: start;
    align-content: start;
    gap: 6px;
     
    .image-container {
      display: flex;
      /* flex-shrink: 1; */
      height: 100px;
      border-style: solid;
      border-width: 1px;
      border-color: var(--bs-secondary);
      border-radius: 6px;

      /* Enable object cover really lag it out */
      .image-display {
        aspect-ratio: 1;
        
      }
    }
  }

  .slide-container {
    display: flex;
    gap: 6px;
  }
}
