.areas-container {
  position: relative;
  display: flex;
  overflow: hidden;
  flex: 1 1 auto;
}
.vertical-container {
  flex-direction: column;
}
.horizontal-container {
  flex-direction: row;
}
.resizer {
  width: 8px;
  height: 100%;
  background-color: var(--bs-secondary);
  margin: 2px;
  cursor: e-resize;

  border-radius: 6px;
}
.vertical-resizer {
  width: 8px;
  height: 100%;
}
.horizontal-resizer {
  height: 8px;
  width: 100%;  
}
