.translator-viewer {
  display: flex;
  flex-direction: column;
  height: 100%;

  .translator-viewer-body {
    display: flex;
    position: relative;
    flex-grow: 1;
    overflow: auto;
    margin-bottom: 3rem;
  }
}
